*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #a6e5a6;
}

main{
    width: 100%;
}

#menuCriar{
    display: flex;
    flex-direction: column;
}

#menuCriar > label{
    margin-left: 10px;
    margin-bottom: 5px;
}

#menuCriar > input{
    border: none;
    background-color: rgb(224, 224, 224);
    border-radius: 3px;

    margin-bottom: 20px;
}

#menuCriar > input[type=submit]{
    margin-top: 25px;
    height: 40px;

    background-color: rgb(3, 145, 3);
    color: white;
}

#corpo{
    margin: auto;
    margin-top: 100px;
    padding-bottom: 10px;
    width: 80%;
    max-width: 900px;

    background-color: white;

    border-radius: 12px;
}

#corpo > h1 {
    text-align: center;
    padding-top: 10px;
}

.botao{
    display: flex;
    justify-content: center;
}

.botao > button{
    background-color: green;
    color: white;

    border: none;
    border-radius: 3px;
    
    width: 100px;
    height: 30px;
}

#tarefas{
    margin: auto;
    margin-top: 50px;
    width: 95%;

    background-color: white;
}

.tarefa{  
    padding: 10px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 8px;
    border-style: dashed;
    margin-bottom: 15px;
}
div.headTarefa{
    display: flex;
    gap: 20px;
}

div.headTarefa > h2{  
    font-size: 20px;
}
.tarefa > p{
    font-size: 15px;
}

.concluida {
    text-decoration:line-through
}

span{
    color: rgb(95, 95, 95);
}
.divDelete{
    visibility: hidden;
}
button.btnDelete{
    border: none;
    background-color: rgba(240, 248, 255, 0);
}